{% extends "base.html" %}
{% block content %}
<h1>Проект Планировщик туристических маршрутов!</h1>
<p>В проекте можно составлять список мест, которые вы планируете посетить во время поездки. 
    Если в списке доступных мест нет нужного - добавляем и оно сохраняется в базе данных для последующего использования.
    Места характеризуются координатами, ближайшими населенными пунктами, фотками, видео и описаниемbase. 
    При добавлении в маршрут можно сопроводить комментами (что планируется сделать тут).
</p>
{% endblock %}