{% extends "base.html" %}
{% block content %}
<h1>Контакты</h1>
<p>
    г.Златоградск,
    ул. 1-я Мостовая,
    д. 54, кор. 3, пом. 27
</p>
<h4>Отправить нам сообщение</h4>
<form method="POST">
    <input name="internal" type="hidden" value="cont_page_msg"
    <p><label>Ваш адрес электронной почты:</label></p>
    <p>
        <input name="email" type="text" required 
            pattern="^((([0-9A-Za-z]{1}[-0-9A-z\.]{1,}[0-9A-Za-z]{1})@([-A-Za-z]{1,}\.){1,2}[-A-Za-z]{2,})$"
            placeholder="mail@example.com">
    </p>
    <p><label>Сообщение:</label></p>
    <p><textarea name="message" rows=7 required></textarea></p>
    <p><input type="submit"></p>
</form>
{% endblock %}